.ArchiveRed {
    background-color: #F7685B;
    color: #fff;
}

.XUiaaaaa {
    height: 72px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}